# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [28]:
series_one = np.random.randint(1, 5, size=100)
series_two = np.random.randint(1, 4, size=100)
series_three = np.random.randint(10000, 30001, size = 100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [32]:
df = pd.concat([pd.DataFrame(series_one), pd.DataFrame(series_two), pd.DataFrame(series_three)], axis = 1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [34]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
df.head()

   bedrs  bathrs  price_sqr_meter
0      1       2            20674
1      4       3            23631
2      3       1            22560
3      4       3            20060
4      3       2            15248

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [35]:
bigcolumn = pd.concat([pd.DataFrame(series_one), pd.DataFrame(series_two), pd.DataFrame(series_three)], axis = 0)

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [40]:
bigcolumn
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [43]:
bigcolumn.reset_index(drop=True, inplace=True)